html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#calculator-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
    aspect-ratio: 1/1.618;
    background-color: gray;
}
#screen-area {
    display: flex;
    width: 95%;
    height: 100px;
    background-color: whitesmoke;
    margin-top: 20px;
}

#clear-delete-area {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 30px;
    background-color: whitesmoke;
    margin-top: 8px;
}

#number-operation-div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#numbers-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    height: 100%;
    background-color: rgb(151, 151, 151);
}

#numbers-area div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 30px;
    background-color: whitesmoke;
    margin-top: 8px;
    gap: 16px;
}

#operations-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}
