html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* Calculator main area */
#calculator-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
    aspect-ratio: 1/1.618;

    background-color: gray;
}

/* Screen area */
#screen-area {
    display: flex;
    width: 95%;
    height: 100px;
    margin-top: 20px;

    background-color: whitesmoke;
}

/* Clear and delete area */
#clear-delete-area {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 30px;
    margin-top: 8px;

    background-color: whitesmoke;
}

/* Operations area */
#number-operation-div {
    display: flex;
    flex-direction: row;
    width: 95%;
    flex-grow: 1;
    margin-top: 8px;
}

    /* Numbers sub-area */
    #numbers-area {
        display: grid;
        width: auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 80px;
        flex: 1;
        margin: 8px;

        background-color: gray;
    }

    #numbers-area div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        gap: 16px;

        background-color: whitesmoke;
    }